* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* added transparent background */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 50%; 
    height: 100%;
    width: 900px;
    z-index: -1;
}
.menu-text{
  width: 400px;
  height: 100px;
  padding:0%;
}

#top {
    justify-content: center;
    align-items: center;
}

.top-bar{
    background-color: black;
}

.menu-text{
    background-image: wheat;
}

#myBtn{
    background: wheat;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

button {
    background: wheat;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }


.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
}
  
.input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
}

/* styled the form input and button */
form input,
button {
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: inherit;
}
/* further styled the input */
form input {
    width: 50%;
    border-radius: 1rem 0 1rem 0;
    margin-right: 3px;
    border-bottom: 3px solid var(--color-primary);
}

/* added rainbow background and styled the button  */
#searchBtn {
    background: wheat;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
}

/* when hover on the button, ease in */
button:hover {
    border: 1px solid #fff;
    font-size: 20px;
    transition: all .2s ease-in-out;
}

/* styled the lyrics box  */
#result {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;
    font-size: 3rem;

}

/* element from js */
.songs {
    width: 70%;
    list-style: none;
    margin:0 auto;
    padding: 2rem 0;
}

/* added a flex and centered the searched results from js  */
.songs li {
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

/* styled the get lyrics button from js */
.songs li span{
    font-size: 1.4rem;
    background: wheat;
    padding: 5px;
    margin: 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: black;
    color: yellow;
}



canvas {
  vertical-align: top;
  z-index: 1;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 10, 18);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
    z-index: 1;
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}